# keil file 
application/app/project/MDK-ARM/list/

application/app/project/MDK-ARM/objects/
application/app/project/MDK-ARM/RTE/
application/app/project/MDK-ARM/JLinkLog.txt

application/app/project/MDK-ARM/dustbin.uvguix*
application/app/project/MDK-ARM/Listings/
# Prerequisites
*.d
source3.5
*.si4project
*.IAB
*.IMB
*.IMD
*.PFI
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.IAD
*.PO
.vscode
#towerCrane

# Object files
*.o

*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib

*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
